#he {
  border: 2px solid white;
  background-color: palevioletred;
  font-size: 20px;
  color: #191D28;
}

body {
  background-color: #252933;
  text-align: center;
}

p {
  color: white;
}

#list {
  padding: 30px;
  border-radius: 8px;
  text-align: left;
  color: white;
  background-color: #191D28;
  outline-style: solid;
  outline-color: floralwhite;
}

#ken {
  width: 300px;
  height: 80px;
  border-radius: 12px;
}

#cat {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
#art1{
  width: 150px;
  height: 200px;
}
#art2{
  height: 200px;
  height: 200px;
}
#art3{
  height: 200px;
  height: 200px;
}
#art4{
  height: 200px;
  height: 200px;
}
#hob {
  position: relative;
  bottom: -30px;
  padding: 8px;
  background-color: #070C17;
  border-radius: 4px;
  color: white;
  outline-style: solid;
  outline-color: white;
  text-align: left;
}